<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalendarRemindersDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33E1569C1D48889D00B9F645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33E156B51D48889E00B9F645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33E156C01D48889E00B9F645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
